<p id="notice"><%= notice %></p>

<% if request.params[:format] == 'offer' %>
  <h1>Ride Offers</h1>
<% else %>
  <h1>Ride Requests</h1>
<% end %>

<p>
  <%= link_to 'Add Ride Offer', new_ride_path('offer') %>
  <%= link_to 'Add Ride Request', new_ride_path('request') %>
</p>

<% @rides.each do |ride| %>
  <div class="columns">
    <div class="column col-5">
      <figure class="avatar avatar-xl">
        <img src="<%= ride.user.image_url %>" alt="user-image">
      </figure>
      <%= ride.user.name %>
    </div>
    <div class="column col-6">
      <% if request.params[:format] == 'offer' %>
        <span><b>Ride Offer Details</b></span><br>
      <% else %>
        <span><b>Ride Request Details</b></span><br>
      <% end %>
      <span><i>Origin:</i> <%= ride.origin %></span><br>
      <span><i>Destination:</i> <%= ride.destination %></span><br>
      <span><i>Take Off:</i> <%= ride.take_off %></span><br>
      <% if request.params[:format] == 'offer' %>
        <span>
          <i>Number of available seats:</i>
          <%= ride.number_of_people %>
        </span><br>
      <% end %>
    </div>
    <div class="column col-1">
      <%= button_to 'Accept', edit_ride_path(ride), class: 'btn btn-success' %>
<!--      TODO-->
      <%#= link_to 'Show', ride %>
      <%#= link_to 'Edit', edit_ride_path(ride) %>
      <%#= link_to 'Cancel', ride, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
  <hr>
<% end %>

