<h1>Ride Details</h1>

<p>
  <strong>Ride <%= @ride.ride_type %></strong>
</p>

<p>
  <strong>Origin:</strong>
  <%= @ride.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.destination %>
</p>

<p>
  <strong>Take off:</strong>
  <%= @ride.take_off %>
</p>

<% if @ride.number_of_people %>
  <p>
    <strong>Number of people:</strong>
    <%= @ride.number_of_people %>
  </p>
<% end %>

<% if @ride.user.id == current_user.id %>
  <%= link_to 'Edit', edit_ride_path(@ride) %> |
<% end %>
<%= link_to 'Back', rides_path %>
