<!DOCTYPE html>
<html>
  <head>
    <title>RideMyWay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <header class="navbar">
        <section class="navbar__left">
          <a href="/" class="btn btn-link">
            <%= image_tag('logo.png', alt: 'logo') %>
            <p class="btn btn-link">Ride My Way</p>
          </a>
        </section>
        <section class="navbar__center">
          <a href="/offers" class="btn btn-link">Offers</a>
          <a href="/requests" class="btn btn-link">Requests</a>
          </ul>
        </section>
        <section class="navbar__right">
          <a href="/my_offers_requests" class="btn btn-link">My Offers/Requests</a>
          <a href="/#" class="btn btn-link">
            <figure class="avatar avatar-xl" data-initial="YZ">
              <!--        TODO-->
              <!--        <img src="user pic" alt="user-image">-->
            </figure>
            <!--      <i class="icon-arrow-down"></i>-->
            <!--      TODO-->
            <%= link_to "Logout", signout_path, id: "sign_out" %>
          </a>
        </section>
      </header>
    <% end %>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="flash__notice"><%= flash[:notice] %></div>
      <% elsif flash[:error] %>
        <div class="flash__error"><%= flash[:error] %></div>
      <% end %>
    </div>
    <section class="content">
      <%= yield %>
    </section>
  </body>
</html>
