<!DOCTYPE html>
<html>
  <head>
    <title>RideMyWay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <header class="navbar">
        <section class="navbar__left">
          <a href="/" class="btn btn-link">
            <%= image_tag('logo.png', alt: 'logo') %>
            <p class="btn btn-link">Ride My Way</p>
          </a>
        </section>
        <section class="navbar__center">
          <%= link_to 'Offers', rides_path('offer'), class: 'btn btn-link' %>
          <%= link_to 'Requests', rides_path('request'), class: 'btn btn-link' %>
        </section>
        <section class="navbar__right">
          <%= link_to 'My Rides', rides_path, class: 'btn btn-link' %>

          <a href="/#" class="btn btn-link">
            <figure class="avatar avatar-xl" data-initial="YZ">
              <img src="<%= current_user.image_url %>" alt="user-image">
            </figure>
<!--            TODO-->
<!--            <i class="icon-arrow-down"></i>-->
            <%= link_to "Logout", signout_path, id: "sign_out" %>
          </a>
        </section>
      </header>
    <% end %>
    <div class="flash">
      <% if flash[:notice] %>
        <div class="flash__notice"><%= flash[:notice] %></div>
      <% elsif flash[:error] %>
        <div class="flash__error"><%= flash[:error] %></div>
      <% end %>
    </div>
    <section class="content">
      <%= yield %>
    </section>
  </body>
</html>
